*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 70%;
    margin  : auto;
    text-align: center;
}

.containerCard{
    display: block;
    margin: auto;
    width: 50%;
    flex-wrap: wrap;  
    align-items: center;
}


