*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 80%;
    margin  : auto;
    text-align: center;
}

.containerCard{
    display: block;
    margin: auto;
    flex-wrap: wrap;
    width: 30%;  
    align-items: center;
}


